/* You can add global styles to this file, and also import other style files */
html{
	color:#000;
	background:#FFF;
}
body, div, dl, dt, dd, ul, ol, li,h1, h2, h3, h4, h5, h6, pre, code,form, fieldset, legend, input, button,textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
fieldset, img{
	border:0;
}
input,select,textarea{
	outline:none;
}
textarea{
	resize:none;
}
a{
	text-decoration:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style:normal;
	font-weight:normal;
}

ol,
ul {
	list-style:none;
	padding:0;
	margin: 0;
}

caption,
th {
	text-align:left;
}
/* 清除浮动*/
.clearfix{
	clear:both
}
.left{
	float: left;
}
.right{
	float: right;
}
.overflow{
	overflow: hidden;
}