<div class="container">
			<!-- banner图 -->
			<div class="banner">
				<img src="img/task_1_7_1_02.png" alt="">
				<div class="banner-text">
					<h2>Time of new life</h2>
					<p>新时代，年轻的人们让我们一起</p>
					<p>体验新生活，享受新生活</p>
					<a href="">开始体验</a>
				</div>
			</div>
			<!-- 内容主体 -->
			<section>
				<div class="bg">
					<span class="bg1"></span>
					<span class="bg2"></span>
					<span class="bg3"></span>
					<span class="bg4"></span>
				</div>
				<div class="section-article">
					<ul>
						<li>
							<p>打造全新世界观，让你更爱你的生活</p>
						</li>
						<li>						
							<p>丰富多彩的公益活动，发挥新世界的主人公意识</p>
						</li>
						<li>						
							<p>时尚的新理念，超前体验未知的生活</p>
						</li>
						<li>						
							<p>完善的培养机制，培养全新的世界观</p>
						</li>
					</ul>
				</div>
				<div class="section-world clearfix">
					<img src="img/icons/task_1_7_1_27.png" alt="">
					<h1>关于新世界，你不知道的还有什么？</h1>
				</div>
				<div class="world-map">
					<img src="./img/task_1_7_1_04.png" alt="">
					<div class="world-city">
						<p>查找新世界城市活动信息</p>
						<p>——</p>
						<p class="activity">每个城市都有不同的活动信息，请自动查询您所需要了解的城市</p>
						<div class="input">
							<ul>
								<li><input type="text"><u><span></span></u></li>
								<li><input type="text"><u><span></span></u></li>
								<li><input type="text"><u><span></span></u></li>
								<li><span>搜索</span></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- 活动 -->
				<div class="exercise">
					<div class="exercise-container">
						<div class="beijing left">
							<div class="exercise-img">
								<img src="img/task_1_7_1_07.png" alt="">
							</div>
							<div class="beijing-exercise">
								<h5>北京活动</h5>
								<p>社区大联盟</p>
							</div>
						</div>
						<div class="left">
							<div>
								<h2>上海活动</h2>
								<p>夜上海新景观探索</p>
							</div>
							<div class="exercise-img">
								<img src="img/task_1_7_1_10.png" alt="">
							</div>
						</div>
						<div class="left">
							<div class="exercise-img">
								<img src="img/task_1_7_1_12.png" alt="">
							</div>
							<div>
								<h5>深圳活动</h5>
								<p>全新海岸线观点站</p>
							</div>
						</div>
						<div class="left">
							<div class="exercise-img">
								<img src="img/task_1_7_1_15.png" alt="">
							</div>
							<div>
								<h5>香港活动</h5>
								<p>奢侈消费大派送</p>
							</div>
						</div>
					</div>
				</div>
			<!-- 	新世界 -->
				<div class="time">
					<div class="time-img left">
						<img src="img/task_1_7_1_21.png" alt="">
						<div class="time-text">
							<h2>新世界</h2>
							<h1>TIME</h1>
							<h3>@新世界-北京</h3>
							<h4>2016.04.01</h4>
						</div>
					</div>
					<div class="xinshijie left">
						<div class="xinshijie-text">
							<h2>新世界/<span>01</span></h2>
							<p>新世界是个新世界新世界是个新世界新世界是个新世界新世界是个新世界新世界是个新世界新世界是个新世界新世界是个新世界新世界是个新世界新世界是个新世界新世界是个新世界新世界是个新世界新世界是个新世界</p>
							<a href="">更多详情</a>
						</div>
					</div>
				</div>
				<!-- 新时代 -->
				<div class="clearfix overflow">
					<div class="new-age01 left">
						<h2 class="xinshidai">新时代</h2>
						<h2>关于爱生活的我们</h2>
						<h2>——</h2>
						<a href="">查看更多</a>
					</div>
					<div class="new-age02 left">
						<h2 class="xinshidai">新时代</h2>
						<h2>关于爱生活的我们</h2>
						<h2>——</h2>
						<a href="">查看更多</a>
					</div>
					<div class="new-age-img left">
						<img src="img/task_1_7_1_24.png" alt="">
					</div>
				</div>
				<!-- 志愿者 -->
				<div class="volunteer">
					<div class="join-us">
						<h2>成为我们的志愿者</h2>
						<p>新世界的大家庭需要每一个爱生活的人加入，如果你年轻，有梦想，有激情那就不要犹豫，快来加入我们，成为改变所有人生活的人</p>
					</div>
					<div class="newage-volunteer overflow">
						<div class="Volunteer-Agreement left">
							<div class="Agreement overflow">
								<h3>新世界志愿者协议</h3>
								<p>加入新世界志愿者的人员必须遵守中华人民共和国的相关法律法规，并且本着平等资源的原则并且本着平等...</p>
								<div class="right"><span></span>more</div>
							</div>
							<div class="Agreement overflow">
								<h3>新世界志愿者权利</h3>
								<p>新世界志愿者享受新世界内部所有资源共享的权利，并且享受所在地新世界活动的优先参与资格</p>
								<div class="right"><span></span>more</div>
							</div>
							<div class="Agreement">
								<h3>更多条款</h3>
								<div class="right"><span></span>more</div>
							</div>
						</div>
						<div class="Volunteer-Application left">
							<div class="com left">
								<label for="">姓名:</label>
								<input type="text">
							</div>
							<div class="com right">
								<label for="">年龄:</label>
								<input type="text">
							</div>
							<div class="com left">
								<label for="">联系方式:</label>
								<input type="text">
							</div>
							<div class="com right">
								<label for="">地址:</label>
								<input type="text">
							</div>
							<div class="textarea clearfix">
								<textarea name="" id="" cols="30" rows="7"></textarea>
							</div>
							<div class="submit-applications">提交申请</div>
						</div>
					</div>
				</div>
			</section>
			<!-- 页面脚部 -->
			<footer>
				<div class="connect">
					<div class="connect-us">
						<h2>联系我们</h2>
						<p>为了更好的获取我们最新的产品资讯，您可以留下您的电子邮件快速订阅我们的产品资讯，也可以通过以下任何方式关注我们的动态</p>
						<div class="submit">
							<input type="text" class="left">
							<button class="left">提 交</button>
						</div>
						<ul class="clearfix">
							<li class="qq"></li>
							<li class="weibo"></li>
							<li class="xiaoniao"></li>
							<li class="diqiu"></li>
						</ul>
					</div>
				</div>
				<div class="back-to-top">
					<div class="left">@2016新世界</div>
					<div class="right">Back-to-top</div>
				</div>
			</footer>
</div>